<form #updateActionForm="ngForm">
  <div class="modal fade" id="editmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">{{'Modifier cette action' | translate}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <!-- Description field -->
          <div class="form-group">
            <label for="firstName" class="required">{{'Description' | translate}}</label>
            <textarea rows="2" id="description-update" name="description" class="form-control"
              [(ngModel)]="actionToEdit.description" required> </textarea>
          </div>
          <div class="form-row">
            <!-- TypeAction field -->
            <div class="form-group  col-md-6">
              <label for="typeAction" class="required">{{'Type' | translate}}</label>
              <select id="typeAction" (change)="parseValue($event.target.value)" name="typeAction" class="form-control"
                [(ngModel)]="actionToEdit.typeAction" required>
                <option *ngFor="let type of listOfTypes" [value]="type">{{type}}</option>
              </select>
            </div>
            <!-- Action Staus field -->
            <div class="form-group  col-md-6">
              <label for="actionStatus" class="required">{{'Action Status' | translate}}</label>
              <select id="actionStatus" (change)="parseValue($event.target.value)" name="actionStatus"
                class="form-control" [(ngModel)]="actionToEdit.actionStatus" required>
                <option *ngFor="let actionStatus of listOfActionStatus" [value]="actionStatus">{{actionStatus}}</option>
              </select>
            </div>
            <!-- Action Priotity field -->
            <div class="form-group  col-md-6">
              <label for="priority" class="required">{{'Priorité' | translate}}</label>
              <select id="priority" (change)="parseValue($event.target.value)" name="priority" class="form-control"
                [(ngModel)]="actionToEdit.priority" required>
                <option *ngFor="let Priority of listOfPriority" [value]="Priority">{{Priority}}</option>
              </select>
            </div>

            <!-- Risk responsible field -->
            <div class="form-group  col-md-6">
              <label for="responsibleAction-edit" class="required">{{'responsable d action' | translate}}</label>
              <select id="responsibleAction-edit" (change)="parseValue($event.target.value)" name="responsibleAction"
                class="form-control" [(ngModel)]="actionToEdit.responsibleAction.id" required>
                <option *ngFor="let user of listOfUsers" [ngValue]="user.id">{{user.firstName}} {{user.lastName}}
                </option>
              </select>
            </div>
            <!-- Action origin field -->
            <div class="form-group  col-md-6">
              <label for="origin" class="required">{{'Origine' | translate}}</label>
              <select id="origin" (change)="parseValue($event.target.value)" name="origin" class="form-control"
                [(ngModel)]="actionToEdit.origin" required>
                <option *ngFor="let origin of listOfOrigin" [value]="origin">{{origin}}</option>
              </select>
            </div>
          </div>
          <div class="form-row">
            <!-- due Date field -->
            <div class="form-group col-md-6">
              <label for="dueDate" class="required">{{'Due Date' | translate}}</label>
              <input type="date" class="form-control" id="dueDate-update" name="dueDate"
                [(ngModel)]="actionToEdit.dueDate" required>
            </div>
            <!-- open Date field -->
            <div class="form-group col-md-6">
              <label for="openDate" class="required">{{'Open Date' | translate}}</label>
              <input type="date" class="form-control" id="openDate-update" name="openDate"
                [(ngModel)]="actionToEdit.openDate" required>
            </div>
            <!-- Updated Due Date field -->
            <div class="form-group col-md-6">
              <label for="updatedDueDate" class="required">{{'Updated Due Date' | translate}}</label>
              <input type="date" class="form-control" id="updatedDueDate-update" name="updatedDueDate"
                [(ngModel)]="actionToEdit.updatedDueDate" required>
            </div>
            <!-- realization Date field -->
            <div class="form-group col-md-6">
              <label for="realizationDate" class="required">{{'Date de realisation' | translate}}</label>
              <input type="date" class="form-control" id="realizationDate-update" name="realizationDate"
                [(ngModel)]="actionToEdit.realizationDate" required>
            </div>
            <!-- Date de mesure de l efficacité field -->
            <div class="form-group col-md-6">
              <label for="effMeasDate" class="required">{{'Date de mesure de l efficacité' | translate}}</label>
              <input type="date" class="form-control" id="effMeasDate-update" name="effMeasDate"
                [(ngModel)]="actionToEdit.effMeasDate" required>
            </div>
          </div>
          <!-- Effectiveness measurement criterion field -->
          <div class="form-group">
            <label for="effMeasCriterion" class="required">{{'Critère de mesure de l efficacité' | translate}}</label>
            <textarea rows="2" id="effMeasCriterion-update" name="effMeasCriterion" class="form-control"
              [(ngModel)]="actionToEdit.effMeasCriterion"></textarea>
          </div>
        </div>
        <div class="modal-footer">
          <!-- Close button -->
          <button type="button" id="exit-update-action" name="exit-update-action" class="btn btn-secondary"
            data-dismiss="modal">{{'Fermer'
              | translate}}</button>
          &nbsp;
          <!-- Update button -->
          <button type="button" id="submit-update-action" name="submit-update-action" class="btn btn-primary"
            data-dismiss="modal" (click)="updateAction()" [disabled]="!updateActionForm.valid">{{'Enregistrer'
              | translate}}</button>
        </div>
      </div>
    </div>
  </div>
</form>