<!-- Title-->
<div class="title">
  <div class="row">
    <div class="col-lg-6">
      <h3>{{'Gestion des risques' | translate}}</h3>
    </div>
    <!-- Add Risk Button -->
    <div class="col-lg-6 text-right">
      <button id="add-risk-btn" type="button" class="btn btn-primary btn-add"  title="Ajouter un nouveau risque"
        routerLink="/quality-management/risks/risk-add">
        <i class="fa fa-plus-circle fa-lg"></i> {{'Nouveau risque' | translate}}
      </button>&nbsp;
      <button id="risk-help-btn" type="button" class="btn btn-warning btn-help" data-toggle="modal" title="help"
      data-target="#helpModal">
        <i class="fa fa-info-circle fa-lg"></i> {{'Aide' | translate}}
      </button>
    </div>
  </div>
</div>
<!-- Content-->
<div class="content">
   <!-- Help Modal -->
   <app-risk-help></app-risk-help>
  <!-- Add Risk Modal 
    <app-risk-add (reloadEvent)="riskList.reloadData()"></app-risk-add>-->
  <!-- Risk Table -->
  <app-risk-list #riskList></app-risk-list>
</div>