<!-- Title-->
<div class="title">
  <div class="row">
    <div class="col-lg-6">
      <h3>{{'Gestion des audits internes' | translate}}</h3>
    </div>
 
    <!-- Add audit Button -->
    <div class="col-lg-6 text-right">
       <!-- auditor space Button -->
       <button type="button" class="btn btn-primary btn-add" title="Afficher la liste des audits pour l audité" data-toggle="modal"
    data-target="#listmodal" routerLink="audited-space/:audited" routerLinkActive="active-link">
    <i class="fa fa-align-justify"></i> {{'Audited space' | translate}}
  </button> &nbsp;
    <button type="button" class="btn btn-primary btn-add" title="Afficher la liste des audits pour l auditeur" data-toggle="modal"
    data-target="#listmodal" routerLink="auditor-space/:auditor" routerLinkActive="active-link">
    <i class="fa fa-align-justify"></i> {{'Auditor space' | translate}}
  </button> &nbsp;
      <!-- audit list Button -->
    <button type="button" class="btn btn-primary btn-add" title="Afficher la liste des audits" data-toggle="modal"
    data-target="#listmodal" routerLink="all" routerLinkActive="active-link">
    <i class="fa fa-align-justify"></i> {{'audit list' | translate}}
  </button> &nbsp;
      <button id="add-audit-btn" type="button" class="btn btn-primary btn-add" data-toggle="modal"
        title="Ajouter un nouveau audit" data-target="#addModal">
        <i class="fa fa-plus-circle fa-lg"></i> {{'Nouvel audit' | translate}}
      </button>
    </div>
  </div>
</div>
<!-- Content-->
<div class="content">
  <!-- Planning audits -->
  <app-audit-planning #audiPlanning></app-audit-planning>
  <!-- Add Audit Modal -->
  <app-audit-add (submitted)="audiPlanning.load()"></app-audit-add>
  <!-- Activities Table -->
  <!-- <app-audit-list #auditList></app-audit-list> -->
</div>