<div class="row">
  <!-- Number of elements select form -->
  <div class=" col-md-8">
    <div class="btn-group">
      <span class="label label-default">{{'Afficher' | translate}}</span>&nbsp;
      <button type="button" id="show-items-list-btn" class="btn dropdown-toggle btn-dropdown" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        {{item}}
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item" id="five-items" (click)="getItems(5)">5</a>
        <a class="dropdown-item" id="ten-items" (click)="getItems(10)">10</a>
        <a class="dropdown-item" id="twenty-items" (click)="getItems(20)">20</a>
        <a class="dropdown-item" id="fifty-items" (click)="getItems(50)">50</a>
      </div>
      &nbsp;
      <span class="label label-default">{{'éléments' | translate}}</span>
    </div>
  </div>
  <!-- Search form -->
  <div class=" col-md-4 text-right">
    <div class="input-group search">
      <input type="text" id="search-action" class="form-control search" placeholder="{{'Recherche...' | translate}}"
        [(ngModel)]="searchInput" (input)="onSearch($event.target.value)">
    </div>
  </div>
</div>
<!-- Actions list Table -->
<div class="table-responsive-lg">
  <table class="table table-bordered table-striped table-hover">
    <thead class="row-border hover">
      <tr>
        <th style="width: 2%;">{{'#' | translate}}</th>
        <th style="width: 10%;">{{'Type' | translate}}</th>
        <th style="width: 5%;" class="text-center">{{'Statut' | translate}}</th>
        <th style="width: 13%;">{{'Responsable' | translate}}</th>
        <th style="width: 10%;">{{'Origine' | translate}}</th>
        <th style="width: 10%;">{{'Date d ouverture' | translate}}</th>
        <th style="width: 12%;">{{'Date d échéance' | translate}}</th>
        <th style="width: 25%;">{{'Description' | translate}}</th>
        <th style="width: 20%;" class="text-center">{{'Actions' | translate}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let action of listActions | paginate: { itemsPerPage: item, currentPage: p, totalItems: total }">
        <td>{{action.id}}</td>
        <td>{{action.typeAction}}</td>
        <td style="text-align: center;"><span *ngIf="action?.actionStatus == 'Open'" class="badge badge-primary"style="font-size: medium;" >{{action?.actionStatus}}</span>
          <span *ngIf="action?.actionStatus == 'Closed'" class="badge badge-dark" style="font-size: medium;">{{action?.actionStatus}}</span>
          <span *ngIf="action?.actionStatus == 'Done'" class="badge badge-success" style="font-size: medium;">{{action?.actionStatus}}</span>
          <span *ngIf="action?.actionStatus == 'Blocked'" class="badge badge-danger" style="font-size: medium;">{{action?.actionStatus}}</span>
          <span *ngIf="action?.actionStatus == 'Delayed'" class="badge badge-warning" style="font-size: medium;">{{action?.actionStatus}}</span>
          <span *ngIf="action?.actionStatus == 'Cancelled'" class="badge badge-secondary" style="font-size: medium;">{{action?.actionStatus}}</span></td>
        <td>{{action.responsibleAction?.firstName}} {{action.responsibleAction?.lastName}}</td>
        <td>{{action.origin}}</td>
        <td>{{action.openDate | date:'dd/MM/yyyy'}}</td>
        <td>{{action.dueDate  | date:'dd/MM/yyyy'}}</td>
        <td>{{action.description}}</td>

        <td class="text-center">
          <button type="button" class="btn btn-detail" title="Afficher les details de cette action" data-toggle="modal"
            data-target="#detailsmodal" (click)="openDetails(action.id)"><i
              class="fa fa-align-justify"></i></button>&nbsp;
          <button type="button" class="btn btn-primary btn-circle" title="Modifier cette action" data-toggle="modal"
            data-target="#editmodal" (click)="openEditModal(action)"><i class="fa fa-edit"></i></button>
          &nbsp;
          <button type="button" class="btn btn-danger btn-circle" title="Supprimer cette action"
            (click)="deleteActions(action.id)"><i class="fa fa-remove"></i></button>
        </td>
      </tr>
    </tbody>
  </table>
  <!-- No data in table message-->
  <div *ngIf="listActions?.length==0">
    <div class="nodata-box">
      <div class="nodata-text" id="no-data-available">{{'Aucune donnée trouvée.' | translate}}</div>
    </div>
  </div>
  <!-- Pagination-->
  <div class="clearfix">
    <div class="hint-text">{{'Total' | translate}}: <b>{{total}}</b> {{'éléments' | translate}}</div>
    <div class="pagination justify-content-end">
      <nav class="Page navigation example">
        <pagination-controls (pageChange)="p=$event" (click)="onSelect(p)" previousLabel="{{'Précédente' | translate}}"
          nextLabel="{{'Suivante' | translate}}"></pagination-controls>
      </nav>
    </div>
  </div>
</div>

<!-- Edit Action Modal -->
<app-action-update [actionToEdit]="editAction" (reloadEvent)="reloadData()"></app-action-update>