<div class="title">
  <h3>{{'Ajouter un risque' | translate}}</h3>
</div>
<div class="content">
  <div class="container-fluid">
    <div class="row">
      <form #addRiskForm="ngForm" class="container-fluid">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel" style="font-weight: bold;">{{'Risque :' | translate}}</h5>
          </div>
          <div class="modal-body">
            <div class="form-row">
              <!-- Probability field -->
              <div class="form-group col-md-4">
                <label for="probability" class="required">{{'Probabilité' | translate}}</label>
                <select id="probability-add" name="riskProbability" class="form-control"
                  [(ngModel)]="riskToAdd.probability" required>
                  <option *ngFor="let probability of probabilityEnum" [value]="probability">
                    {{probabilityLabel[probability]}}
                  </option>
                </select>
              </div>
              <!-- Severity field -->
              <div class="form-group col-md-4">
                <label for="severity" class="required">{{'Gravité' | translate}}</label>
                <select id="severity-add" name="riskSeverity" class="form-control" [(ngModel)]="riskToAdd.severity"
                  required>
                  <option *ngFor="let severity of severityEnum" [value]="severity">
                    {{severityLabel[severity]}}
                  </option>
                </select>
              </div>
              <!-- Risk Nature field -->
              <div class="form-group col-md-4">
                <label for="riskNature" class="required">{{'Nature du risque' | translate}}</label>
                <select id="riskNature-add" name="RiskNature" class="form-control" [(ngModel)]="riskToAdd.riskNature"
                  required>
                  <option *ngFor="let riskNature of riskNatureEnum" [value]="riskNature">
                    {{riskNatureLabel[riskNature]}}
                  </option>
                </select>
              </div>
              <!-- Risk Priority field -->
              <div class="form-group col-md-3">
                <label for="riskPriority" class="required">{{'Priorité du risque' | translate}}</label>
                <select id="riskPriority-add" name="riskPriority" class="form-control"
                  [(ngModel)]="riskToAdd.riskPriority" required>
                  <option *ngFor="let riskPriority of priorityEnum" [value]="riskPriority">
                    {{priorityLabel[riskPriority]}}
                  </option>
                </select>
              </div>
              <!-- Risk Strategy field -->
              <div class="form-group col-md-3">
                <label for="riskStrategy" class="required">{{'Strategie du risque' | translate}}</label>
                <select id="riskStrategy-add" name="riskStrategy" class="form-control"
                  [(ngModel)]="riskToAdd.riskStrategy" required>
                  <option *ngFor="let riskStrategy of riskStrategyEnum" [value]="riskStrategy">
                    {{riskStrategyLabel[riskStrategy]}}
                  </option>
                </select>
              </div>
              <!-- Risk responsible field -->
              <div class="form-group col-md-3">
                <label for="riskPilote" class="required">{{'Pilote du risque' | translate}}</label>
                <select id="riskPilote-add" name="titleriskPilote" class="form-control"
                  [(ngModel)]="riskToAdd.riskPilote" required>
                  <option *ngFor="let user of listOfUsers" [ngValue]="user">{{user.firstName}} {{user.lastName}}
                  </option>
                </select>
              </div>


            </div>
            <div class="form-row">
              <!-- detectionDate field -->
              <div class="form-group col-md-6">
                <label for="detectionDate" class="required">{{'Date de detection' | translate}}</label>
                <input type="date" class="form-control" id="detectionDate-add" name="detectionDate"
                  [(ngModel)]="riskToAdd.detectionDate" required>
              </div>
              <!-- closureDate field -->
              <div class="form-group col-md-6">
                <label for="closureDate" class="required">{{'Date de fermeture' | translate}}</label>
                <input type="date" class="form-control" id="closureDate-add" name="closureDate"
                  [(ngModel)]="riskToAdd.closureDate" required>
              </div>
            </div>

            <!-- impact field -->
            <div class="form-group">
              <label for="impact" class="required">{{'Impact' | translate}}</label>
              <textarea class="form-control" id="impact-add" name="impact" [(ngModel)]="riskToAdd.impact" rows="1"
                required> </textarea>
            </div>
            <!-- factorsIdentif field -->
            <div class="form-group">
              <label for="factorsIdentif" class="required">{{'Identification des facteurs  +/-' | translate}}</label>
              <textarea class="form-control" id="factorsIdentif-add" name="factorsIdentif"
                [(ngModel)]="riskToAdd.factorsIdentif" rows="2" required> </textarea>
            </div>

            <!-- Action form -->
            <div class="card">
              <div class="card-header">
                <h4 for="Actions" class="required" style="font-size: large;font-weight: bold;">
                  {{'Actions :' | translate}}</h4>
                <!-- Number of action alert -->
                <div class="alert alert-danger" *ngIf="riskToAdd.actions.length < 1" role="alert">
                  <div align-text="center">{{'Il faut ajouter plus qu une actions !' | translate}} </div>
                </div>
              </div>
              <div class="card-body" style="background-color: #f3f3f3;">
                <form #createActionForm="ngForm">
                  <div class="form-group">
                    <!-- Description field -->
                    <div class="form-group">
                      <label for="description" class="required">{{'description' | translate}}</label>
                      <textarea class="form-control" id="description-add" name="description"
                        [(ngModel)]="actionToAdd.description" rows="2" required> </textarea>
                    </div>
                    <!-- effMeasCriterion field -->
                    <div class="form-group">
                      <label for="effMeasCriterion"
                        class="required">{{'Critère de mesure de l efficacité' | translate}}</label>
                      <textarea class="form-control" id="effMeasCriterion-add" name="effMeasCriterion-add"
                        [(ngModel)]="actionToAdd.effMeasCriterion" rows="2" required> </textarea>
                    </div>
                    <div class="form-row">
                      <!-- open Date field -->
                      <div class="form-group col-md-4">
                        <label for="openDate" class="required">{{'Date d ouverture' | translate}}</label>
                        <input type="date" class="form-control" id="openDate-add" name="openDate"
                          [(ngModel)]="actionToAdd.openDate" required>
                      </div>
                      <!-- due Date field -->
                      <div class="form-group col-md-4">
                        <label for="dueDate" class="required">{{'Date d écheance' | translate}}</label>
                        <input type="date" class="form-control" id="dueDate-add" name="dueDate"
                          [(ngModel)]="actionToAdd.dueDate" required>
                      </div>
                      <!--updated Due Date field -->
                      <div class="form-group col-md-4">
                        <label for="updatedDueDate-add"
                          class="required">{{'date d échéance mise à jour' | translate}}</label>
                        <input type="date" class="form-control" id="updatedDueDate-add" name="updatedDueDate-add"
                          [(ngModel)]="actionToAdd.updatedDueDate" required>
                      </div>
                      <!-- realization Date field -->
                      <div class="form-group col-md-6">
                        <label for="realizationDate-add" class="required">{{'Date de realisation' | translate}}</label>
                        <input type="date" class="form-control" id="realizationDate-add" name="realizationDate-add"
                          [(ngModel)]="actionToAdd.realizationDate" required>
                      </div>
                      <!-- effMeasDate field -->
                      <div class="form-group col-md-6">
                        <label for="effMeasDate-add"
                          class="required">{{'Date de mesure de l efficacité' | translate}}</label>
                        <input type="date" class="form-control" id="effMeasDate-add" name="effMeasDate-add"
                          [(ngModel)]="actionToAdd.effMeasDate" required>
                      </div>
                    </div>
                    <div class="form-row">
                      <!-- responsibleAction field -->
                      <div class="form-group col-md-3">
                        <label for="responsibleAction-add"
                          class="required">{{'responsible d Action' | translate}}</label>
                        <select id="responsibleAction-add" name="titleresponsibleAction" class="form-control"
                          [(ngModel)]="actionToAdd.responsibleAction" required>
                          <option *ngFor="let user of listOfUsers" [ngValue]="user">{{user.firstName}} {{user.lastName}}
                          </option>
                        </select>
                      </div>
                    </div>
                    <div class="form-row">
                      <!-- status field -->
                      <div class="form-group col-md-3">
                        <label for="ActionStatus" class="required">{{'status' | translate}}</label>
                        <select id="actionStatus-add" name="ActionStatus" class="form-control"
                          [(ngModel)]="actionToAdd.ActionStatus" required>
                          <option *ngFor="let actionStatus of ActionStatusEnum" [value]="actionStatus">
                            {{ActionstatusLabel[actionStatus]}}
                          </option>
                        </select>
                      </div>
                      <!-- priority field -->
                      <div class="form-group col-md-3">
                        <label for="priority" class="required">{{'priorité' | translate}}</label>
                        <select id="priority-add" name="priority" class="form-control"
                          [(ngModel)]="actionToAdd.priority" required>
                          <option *ngFor="let priority of priorityEnum" [value]="priority">
                            {{priorityLabel[priority]}}
                          </option>
                        </select>
                      </div>

                      <!-- typeAction field -->
                      <div class="form-group col-md-3">
                        <label for="typeAction" class="required">{{'type d Action' | translate}}</label>
                        <select id="typeAction-add" name="typeAction" class="form-control"
                          [(ngModel)]="actionToAdd.typeAction" required>
                          <option *ngFor="let typeAction of typeActionEnum" [value]="typeAction">
                            {{typeActionLabel[typeAction]}}
                          </option>
                        </select>
                      </div>
                      <!-- origin field -->
                      <div class="form-group col-md-3">
                        <label for="origin" class="required">{{'Origine' | translate}}</label>
                        <select id="origin-add" name="origin" class="form-control" [(ngModel)]="actionToAdd.origin"
                          required>
                          <option *ngFor="let origin of OriginEnum" [value]="origin">
                            {{OriginLabel[origin]}}
                          </option>
                        </select>
                      </div>
                    </div>

                    <!-- Add Action button -->
                    <button id="add-action-btn" type="button" class="btn btn-secondary" data-toggle="modal"
                      (click)="addAction(actionToAdd.description, actionToAdd.effMeasCriterion, actionToAdd.openDate, actionToAdd.dueDate,
                actionToAdd.updatedDueDate, actionToAdd.effMeasDate, actionToAdd.realizationDate, actionToAdd.responsibleAction, actionToAdd.ActionStatus, actionToAdd.priority, actionToAdd.typeAction, actionToAdd.origin)">
                      <i class="fa fa-plus"></i>
                    </button>
                    <!-- Action list section -->
                    <div class="data">
                      <br>
                      <ul class="list-unstyled">
                        <li *ngFor="let action of riskToAdd.actions">
                          <div class="row">
                            <div class="col-9">
                              <td><span *ngIf="!action.editMode" id="description" name="description">{{action.action.description}</span></td>
                        <form *ngIf="action.editMode">
                          <div class="input-group mb-3">
                            <div class="input-group-prepend">
                            </div>
                            <input type="text" class="form-control" id="description" name="description" *ngIf="action.editMode"
                              [(ngModel)]="action.description">
                            &nbsp;
                            <button type="button" class="btn btn-outline-secondary" data-toggle="modal"
                              (click)="editAction(action)">
                              <i class="fa fa-check"></i>
                            </button>
                          </div>
                        </form>
                      </div>
                      <div class="col-2">
                        <td><button type="button" class="icon-button" (click)="action.editMode=true"
                            data-toggle="tooltip">
                            <i class="fa fa-pencil fa-lg" aria-hidden="true"></i>
                          </button>
                        </td>
                        <td><button type="button" class="icon-button" (click)="deleteAction(action)"
                            data-toggle="tooltip">
                            <i class="fa fa-times fa-lg" aria-hidden="true" [ngStyle]="{'color':'red'}"></i>
                          </button>
                        </td>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
        <div class="modal-footer">
          <!-- Close button -->
          <button type="button" id="exit-add-risk" name="exit-add-risk" class="btn btn-secondary" data-dismiss="modal"
            (click)="emptyObject()">{{'Fermer' | translate}}</button>
                                  &nbsp;
                                  <!-- Add button -->
                                  <button type="button" id="submit-add-risk" name="submit-add-risk "
                                    class="btn btn-primary" (click)="createRisk()" data-dismiss="modal"
                                    [disabled]="!addRiskForm.valid">{{'Enregistrer'
            | translate}}</button>
                            </div>
                          </div>
                </form>
              </div>
            </div>
          </div>