<div class="modal fade" id="add-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <form #addUserForm="ngForm">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">{{'Ajouter un utilisateur' | translate}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="emptyObject()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-row">
            <!-- FirstName field -->
            <div class="form-group col-md-6">
              <label for="firstName" class="required">{{'Prénom' | translate}}</label>
              <input type="text" id="firstName-add" name="firstName" class="form-control"
                pattern="[a-zA-Z]{1}[a-z,A-Z,' ']{2,}" [(ngModel)]="userToAdd.firstName" required>
            </div>
            <!-- Name field -->
            <div class="form-group col-md-6">
              <label for="lastName" class="required">{{'Nom' | translate}}</label>
              <input type="text" id="lastName-add" name="lastName" class="form-control"
                pattern="[a-zA-Z]{1}[a-z,A-Z,' ']{2,}" [(ngModel)]="userToAdd.lastName" required>
            </div>
          </div>
          <!-- Email field -->
          <div class="form-group">
            <label for="email" class="required">{{'Email' | translate}}</label>
            <input type="email" id="email-add" name="email" class="form-control"
              pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}"
              (input)="onSearchChangeEmail($event.target.value)" [(ngModel)]="userToAdd.email"
              placeholder="mail@exemple.com" required>
          </div>
          <div class="alert alert-danger" *ngIf="errorMail == true">
            <h6>{{'Cet email est déja utilisé !' | translate}}</h6>
          </div>
          <!-- PhoneNumber field -->
          <div class="form-group">
            <label for="phoneNumber" class="required">{{'Téléphone' | translate}}</label>
            <input type="number" id="phoneNumber-add" name="phoneNumber" class="form-control" pattern="[0-9]{8}"
              [(ngModel)]="userToAdd.phoneNumber" required>
          </div>
          <!-- Address field -->
          <div class="form-group">
            <label for="address" class="required">{{'Adresse' | translate}}</label>
            <input type="text" id="address-add" name="address" class="form-control" [(ngModel)]="userToAdd.address"
              required>
          </div>
          <!-- BirthDate field -->
          <div class="form-group">
            <label for="birthDate" class="required">{{'Date de naissance' | translate}}</label>
            <input type="date" class="form-control" id="birthday-add" name="birthDate" [(ngModel)]="userToAdd.birthDate"
              required>
          </div>
          <!-- Activity field -->
          <div class="form-group">
            <label for="activity" class="required">{{'Activité' | translate}}</label>
            <select id="activity-add" name="titleActivity" class="form-control" [(ngModel)]="userToAdd.activity.id"
              required>
              <option *ngFor="let activity of listOfActivities" [ngValue]="activity.id">{{activity.title}}</option>
            </select>
          </div>
        </div>
        <!-- Role field -->
        <div class="form-group col-md-4">
          <p-listbox [options]="listOfRoles" [(ngModel)]="userToAdd.roles" name="roles" multiple="multiple"
            checkbox="checkbox" filter="filter" optionLabel="title" [style]="{'width':'450px'}">
            <p-header>
              <i class="fa fa-sliders"></i>
              {{'Rôles' | translate}}
            </p-header>
          </p-listbox>
        </div>

        <div class="modal-footer">
          <!-- Close button -->
          <button type="button" id="exit-add-user" name="exit-add-user" class="btn btn-secondary" data-dismiss="modal"
            (click)="emptyObject()">{{'Fermer' | translate}}</button>
          &nbsp;
          <!-- Add button -->
          <button type="button" id="submit-add-user" name="submit-add-user " class="btn btn-primary"
            (click)="createRecruiter()" data-dismiss="modal"
            [disabled]="!addUserForm.valid || errorMail == true || errorUserName == true">{{'Enregistrer'
            | translate}}</button>
        </div>
      </div>
    </form>
  </div>
</div>