<div class="sidenav">
  <ul class="sidebar navbar-nav">
    <li class="nav-item">
      <a class="nav-link" routerLink="" id="dashboard">
        <i class="fa fa-tachometer"></i>
        <span> {{'Tableau de bord'| translate}}</span>
      </a>
    </li>
    <div class="menu-title"> {{'Qualité' | translate}}</div>
    <li class="nav-item">
      <a class="nav-link" routerLink="/quality-management/actions" routerLinkActive="active-link"
        id="action-management">
        <i class="fa fa-crosshairs"></i>
        <span> {{'Gestion des actions' | translate}}</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/quality-management/audits" routerLinkActive="active-link" id="audit-management">
        <i class="fa fa-calendar"></i>
        <span> {{'Gestion des audits internes' | translate}}</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/quality-management/risks" routerLinkActive="active-link" id="risk-management">
        <i class="fa fa-shield"></i>
        <span> {{'Gestion des risques' | translate}}</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/administration/messages" routerLinkActive="active-link" id="smq">
        <i class="fa fa-sitemap"></i>
        <span> {{'SMQ' | translate}}</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/administration/assign-quizzes-candidates" routerLinkActive="active-link"
        id="smq-altran">
        <i class="fa fa-sitemap"></i>
        <span> {{'SMQ ALTRAN' | translate}}</span>
      </a>
    </li>

    <div class="menu-title">Formation</div>
    <li class="nav-item">
      <a class="nav-link" routerLink="/training-management/needs" routerLinkActive="active-link" id="need-management">
        <i class="fa fa-file"></i>
        <span> {{'Gestion des besoins' | translate}}</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/training-management/trainings" routerLinkActive="active-link"
        id="training-management">
        <i class="fa fa-suitcase"></i>
        <span> {{'Gestion des formations' | translate}}</span>
      </a>
    </li>

    <div class="menu-title">Administration</div>
    <li class="nav-item">
      <a class="nav-link" routerLink="/user-management/users" routerLinkActive="active-link" id="user-management">
        <i class="fa fa-users"></i>
        <span> {{'Gestion des utilisateurs' | translate}}</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/user-management/roles" routerLinkActive="active-link" id="role-management">
        <i class="fa fa- fa-cogs"></i>
        <span> {{'Gestion des rôles' | translate}}</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/user-management/activities" routerLinkActive="active-link"
        id="activity-management">
        <i class="fa fa-building"></i>
        <span> {{'Gestion des activités' | translate}}</span>
      </a>
    </li>
  </ul>
</div>