/* Bold text */
label{
  font-weight: bold;
}
  
/* Form required style */
label.required:after{
  content:"*";
  color:red;
}
.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}
.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}

/* Center */
.center-div {
  margin: 5%;
}