<div id="accordion">
  <div class="card border-secondary">
    <div class="card-header border-secondary" id="info">
      <!-- Advanced Search Section -->
      <div class="row">
        <div class="col-12">
          <button id="advanced-search-quiz-btn" type="button" class="btn btn-light btn-sm" data-toggle="collapse"
            data-target="#collapseInfo"><i class="fa fa-chevron-down" aria-hidden="true"></i> <strong>
              {{'Recherche avancée' | translate}}</strong></button>
        </div>
      </div>
    </div>
    <div id="collapseInfo" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
        <div class="row">
          <!-- Natures List -->
          <div class="col-6">
            <i class="fa fa-align-center"></i>&nbsp;
            <label>{{'Nature:' | translate}}</label>
            <ng-multiselect-dropdown id="natures-multiselect-dropdown" class="form-select" [placeholder]="'Natures'"
              [data]="dropdownListNatures" [(ngModel)]="selectedNatures" [settings]="dropdownSettingsNatures"
              (onSelect)="onItemSelect($event)" (onSelectAll)="onSelectAll($event)">
            </ng-multiselect-dropdown>
          </div>
          <!-- Probabilities List -->
          <div class="col-6">
            <i class="fa fa-cog"></i>&nbsp;
            <label>{{'propabilité:' | translate}}</label>
            <ng-multiselect-dropdown id="probabilities-multiselect-dropdown" class="form-select"
              [placeholder]="'Probabilités'" [data]="dropdownListProbabilities" [(ngModel)]="selectedProbabilities"
              [settings]="dropdownSettingsProbabilities" (onSelect)="onItemSelect($event)"
              (onSelectAll)="onSelectAll($event)">
            </ng-multiselect-dropdown>
          </div>
        </div>
        <br>
        <div class="row">
          
          <!-- Status List -->
          <div class="col-6">
            <i class="fa fa-thumb-tack"></i>&nbsp;
            <label>{{'Statut:' | translate}}</label>
            <ng-multiselect-dropdown id="status-multiselect-dropdown" class="form-select" [placeholder]="'Statut'"
              [data]="dropdownListStatus" [(ngModel)]="selectedStatus" [settings]="dropdownSettingsStatus"
              (onSelect)="onItemSelect($event)" (onSelectAll)="onSelectAll($event)">
            </ng-multiselect-dropdown>
          </div>
        </div>
        <!-- Advanced search button -->
        <div class="btn-search float-right">
          <button id="search-risk-btn" type="button" class="btn btn-warning btn-adv-search" title="Filtrer"
            (click)="advancedSearch(selectedNatures,selectedProbabilities,selectedExposures,selectedStatus)">
            <i class="fa fa-search"></i> {{'Chercher' | translate}}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <!-- Number of elements select form -->
  <div class=" col-md-8">
    <div class="btn-group">
      <span class="label label-default">{{'Afficher' | translate}}</span>&nbsp;
      <button type="button" id="show-items-list-btn" class="btn dropdown-toggle btn-dropdown" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        {{item}}
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item" id="five-items" (click)="getItems(5)">5</a>
        <a class="dropdown-item" id="ten-items" (click)="getItems(10)">10</a>
        <a class="dropdown-item" id="twenty-items" (click)="getItems(20)">20</a>
        <a class="dropdown-item" id="fifty-items" (click)="getItems(50)">50</a>
        <a class="dropdown-item" id="handred-items" (click)="getItems(100)">100</a>
      </div>
      &nbsp;
      <span class="label label-default">{{'éléments' | translate}}</span>
    </div>
  </div>
  <!-- Search form -->
  <div class=" col-md-4 text-right">
    <div class="input-group search">
      <input type="text" id="search-risk" class="form-control search" placeholder="{{'Recherche...' | translate}}"
        [(ngModel)]="searchInput" (input)="onSearch($event.target.value)">
    </div>
  </div>
</div>
<!-- Risks list Table -->
<div class="table-responsive-lg">
  <table class="table table-bordered table-striped table-hover">
    <thead class="row-border hover">
      <tr>
        <th style="width: 7%;">{{'#' | translate}}</th>
        <th style="width: 7%;">{{'Probabilité' | translate}}</th>
        <th style="width: 10%;">{{'Gravité' | translate}}</th>
        <th style="width: 7%;">{{'Criticité' | translate}}</th>
        <th style="width: 7%;">{{'Valeur de criticité' | translate}}</th>
        <th style="width: 7%;">{{'Statut' | translate}}</th>
        <th style="width: 10%;" class="text-center">{{'Date de detection'  | translate}}</th>
        <th style="width: 10%;" class="text-center">{{'Date de fermeture'  | translate}}</th>
        <th style="width: 10%;" class="text-center">{{'Nature' | translate}}</th>
        <th style="width: 10%;" class="text-center">{{'Actions' | translate}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let risk of listRisks | paginate: { itemsPerPage: item, currentPage: p, totalItems: total }">
        <td>{{risk.id}}</td>
        <td>{{risk.probability}}</td>
        <td>{{risk.severity}}</td>
        <td style="text-align: center;" *ngFor="let exposure of risk.exposures | slice: risk.exposures.length-1">
          <span *ngIf="exposure.title == 'Acceptable'" class="badge badge-success"
            style="font-size: medium;">{{exposure.title}}</span>
          <span *ngIf="exposure.title == 'A_surveiller'" class="badge badge-warning"
            style="font-size: medium;">{{exposure.title}}</span>
          <span *ngIf="exposure.title == 'Trés_critique'" class="badge badge-danger"
            style="font-size: medium;">{{exposure.title}}</span></td>
        <td style="text-align: center;" *ngFor="let value of risk?.exposures | slice: risk.exposures.length-1">{{value.value}}</td>
        <td style="text-align: center;">
          <span *ngIf="risk?.riskStatus == 'Open'" class="badge badge-primary"
            style="font-size: medium;">{{risk?.riskStatus}}</span>
          <span *ngIf="risk?.riskStatus == 'Closed'" class="badge badge-dark"
            style="font-size: medium;">{{risk?.riskStatus}}</span></td>
        <td>{{risk.detectionDate}}</td>
        <td>{{risk.closureDate}}</td>
        <td>{{risk.riskNature}}</td>
        <td class="text-center">
          <button type="button" class="btn btn-detail" title="Afficher les details de ce risque" data-toggle="modal"
            data-target="#detailsmodal" (click)="openDetails(risk.id)"><i
              class="fa fa-align-justify"></i></button>&nbsp;
          <button type="button" class="btn btn-primary btn-circle" title="Modifier ce risque" data-toggle="modal"
            data-target="#editmodal" (click)="openEditModal(risk)"><i class="fa fa-edit"></i></button>
          &nbsp;
          <button type="button" class="btn btn-danger btn-circle" title="Supprimer ce risque"
            (click)="deleteRisk(risk.id)"><i class="fa fa-remove"></i></button>
        </td>
      </tr>
    </tbody>
  </table>
  <!-- No data in table message-->
  <div *ngIf="listRisks?.length==0">
    <div class="nodata-box">
      <div class="nodata-text" id="no-data-available">{{'Aucune donnée trouvée.' | translate}}</div>
    </div>
  </div>
  <!-- Pagination-->
  <div class="clearfix">
    <div class="hint-text">{{'Total' | translate}}: <b>{{total}}</b> {{'éléments' | translate}}</div>
    <div class="pagination justify-content-end">
      <nav class="Page navigation example">
        <pagination-controls (pageChange)="p=$event" (click)="onSelect(p)" previousLabel="{{'Précédente' | translate}}"
          nextLabel="{{'Suivante' | translate}}"></pagination-controls>
      </nav>
    </div>
  </div>
</div>

<!-- Edit Risk Modal -->
<app-risk-update [riskToEdit]="editRisk" (reloadEvent)="reloadData()"></app-risk-update>