<div>
  <div class="table-responsive">
    <table class="table align-items-center table-flush">
      <thead class="thead-light">
        <tr>
          <th class="fixed"></th>
          <th *ngFor="let w of weeks">
            W{{w.number}}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let p of processList">
          <th class="fixed">{{p.title}}</th>
          <td [disablePopover]="popverDisabled" ngbPopover="{{titles}}" popoverTitle="Projects/Processes"
            *ngFor="let w of weeks" (click)="clickCheck(p.idProcess, w.id)" (mouseenter)="loadTitles(p.idProcess, w.id)"
            (mouseleave)="resetTitles()" onmouseover="" style="cursor: pointer;">
            <a><span class="badge badge-pill badge-danger" *ngIf="calculate(p.idProcess, w.id)">{{somme}}</span></a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>