<div class="title">
  <h3>{{'Détails du Rapport : #' | translate}}{{auditReport.id}}</h3>
</div>
<div class="content">
  <div class="row">
    <div class="col-lg-4">
      <div class="profile-card-4 z-depth-3">
        <!-- action generale information section -->
        <div class="card ">
          <div class="card-body text-center bg-altran rounded-top">
            <h6 class="text-light">{{'Auditeur' | translate}} :</h6>
            <h5 class="mb-1 text-white">
              {{auditReport?.auditor?.firstName}}&nbsp;{{auditReport?.auditor?.lastName}}
            </h5>
          </div>
          <div class="card-body">
            <ul class="list-group shadow-none">
              <li class="list-group-item">
                <div class="list-icon">
                  <i class="fa fa-clock-o" aria-hidden="true"></i>
                </div>
                <div class="list-details">
                  <span style="font-size: medium;">{{'Durée' | translate}}: </span>&nbsp;&nbsp;<span
                    style="font-size: medium;">{{auditReport?.duration}}</span>
                </div>
              </li>
              <li class="list-group-item">
                <div class="list-icon">
                  <i class="fa fa-check-square-o" aria-hidden="true"></i>
                </div>
                <div class="list-details">
                  <span style="font-size: medium;">{{'validation Auditeur' | translate}}: </span>&nbsp;&nbsp;
                  <span *ngIf="auditReport?.validationAuditor == 'yes'" class="badge badge-success"
                    style="font-size: medium;">{{auditReport?.validationAuditor}}</span>
                  <span *ngIf="auditReport?.validationAuditor == null" class="badge badge-danger"
                    style="font-size: medium;">{{auditReport?.validationAuditor}} No</span>
                </div>
              </li>
              <li class="list-group-item">
                <div class="list-icon">
                  <i class="fa fa-check-square-o" aria-hidden="true"></i>
                </div>
                <div class="list-details">
                  <span style="font-size: medium;">{{'validation Audité' | translate}}: </span>&nbsp;&nbsp;
                  <span *ngIf="auditReport?.validationAudited == 'yes'" class="badge badge-success"
                    style="font-size: medium;">{{auditReport?.validationAudited}}</span>
                  <span *ngIf="auditReport?.validationAudited == null" class="badge badge-danger"
                    style="font-size: medium;">{{auditReport?.validationAudited}} No</span>
                </div>
              </li>
            </ul>
            <div class="row text-center mt-4">

              <div class="col p-2">
                <h4 class="mb-1 line-height-5" style="font-size: 20px">{{auditReport?.realizationDate |
                                              date:'dd/MM/yyyy'}}</h4>
                <small class="mb-0 font-weight-bold">{{'Date de réalisation' | translate}}</small>
              </div>
            </div>
            <div class="row text-center mt-4">

              <div class="col p-2">
                <h4 class="mb-1 line-height-5" style="font-size: 20px">{{auditReport?.validationAuditorDate}}</h4>
                <small class="mb-0 font-weight-bold">{{'Date de validation de auditeur' | translate}}</small>
              </div>
              <div class="col p-2">
                <h4 class="mb-1 line-height-5" style="font-size: 20px">{{auditReport?.validationAuditedDate }}</h4>
                <small class="mb-0 font-weight-bold">{{'Date de validation de audité' | translate}}</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-8">
      <div class="card-card-4  z-depth-3">
        <div class="card-body">
          <ul class="nav nav-pills nav-pills-primary nav-justified">
            <li class="nav-item">
              <div class="card-body text-center bg-altran rounded-top">
                <h5 class="text-light">{{'Plus d information' | translate}}</h5>
              </div>
            </li>
          </ul>
          <div class="tab-content p-3">
            <!-- Details section -->
            <div class="tab-pane active show" id="detail">
              <h5 class="mb-3"></h5>
              <div class="row">
                <div class="col-md-12">
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                      <h5><strong>{{'Points examinés' | translate}}
                          :</strong>&nbsp;&nbsp;{{auditReport?.examinedPoints}}</h5>
                    </li>
                    <li class="list-group-item">
                      <h5><strong>{{'Points forts' | translate}} :</strong>&nbsp;&nbsp;{{auditReport?.strongPoints}}
                      </h5>
                    </li>
                    <li class="list-group-item">
                      <!-- Actions list Table -->
                      <h5><strong>{{'Ecarts' | translate}} :</strong>
                        <button type="button" id="add-gap-btn" type="button" class="btn btn-primary btn-add"
                          data-toggle="modal" title="Ajouter un nouveau ecart" data-target="#addModal"
                          style="float:right;">
                          <i class="fa fa-plus-circle fa-lg"></i>&nbsp;Add Gap</button></h5>&nbsp;
                      <div class="table-responsive-lg">
                        <table class="table table-bordered table-striped table-hover">
                          <thead class="row-border hover">
                            <tr>
                              <th style="width: 2%;">{{'#' | translate}}</th>
                              <th style="width: 40%;">{{'Description' | translate}}</th>
                              <th style="width: 20%;">{{'Type d ecart' | translate}}</th>
                              <th style="width: 20%;" class="text-center">{{'Actions' | translate}}</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let gap of auditReport?.gaps">
                              <td>{{gap?.id}} </td>
                              <td>{{gap?.description}} </td>
                              <td>{{gap?.typeGap}} </td>
                              <td class="text-center">
                                <button type="button" class="btn btn-detail"
                                  title="Afficher les details de cette auditReport" data-toggle="modal"
                                  data-target="#detailsmodal" (click)="openDetails(gap?.id)"><i
                                    class="fa fa-align-justify"></i></button>
                                &nbsp; <button type="button" class="btn btn-primary btn-circle"
                                  title="Modifier cet ecart" data-toggle="modal" data-target="#editmodal"
                                  (click)="openEditModal(gap)"><i class="fa fa-edit"></i></button>
                                &nbsp;
                                <button type="button" class="btn btn-danger btn-circle" title="Supprimer ce ecart"
                                  (click)="deleteGap(gap.id)"><i class="fa fa-remove"></i></button>
                              </td>
                            </tr>
                            <tr></tr>
                          </tbody>
                        </table>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- add gap -->
  <app-gap-add [auditReportToEdit]="auditReport" (reloadEvent)="reloadData()"></app-gap-add>
  <!-- Edit Action Modal -->
  <app-gap-update [gapToEdit]="editGap" (reloadEvent)="reloadData()"></app-gap-update>